services:
  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    volumes:
      - ./vpn:/gluetun
    environment:
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
      #- WIREGUARD_ENDPOINT_IP=${WIREGUARD_ENDPOINT_IP}
      - SERVER_COUNTRIES=${SERVER_COUNTRIES}
      - VPN_PORT_FORWARDING=${VPN_PORT_FORWARDING}
      - TZ=${TZ}
      - BLOCK_MALICIOUS=no
      - BLOCK_ADS=no
      - BLOCK_SURVEILLANCE=no
      - DNS_ADDRESS=1.1.1.1
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://ifconfig.io"]
      interval: 30s
      timeout: 10s
      retries: 3
    
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=100
      - TZ=${TZ}
      - WEBUI_PORT=8080
    volumes:
      - CHANGE_TO_COMPOSE_DATA_PATH/qbittorrent:/config
      - /srv/dev-disk-by-uuid-d7e795e1-d44f-4d78-acc2-be119ba2dca3/Download:/downloads
      - /srv/dev-disk-by-uuid-d7e795e1-d44f-4d78-acc2-be119ba2dca3/Film:/Film
      - /srv/dev-disk-by-uuid-d7e795e1-d44f-4d78-acc2-be119ba2dca3/Musica:/Musica
    network_mode: "service:gluetun"
    depends_on:
      gluetun:
        condition: service_started
    restart: unless-stopped